[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fire = "*"
requests = "*"
backoff = "*"
black = "*"
pylint = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
